/*
  App.css
  - by Chris DeFreitas, ChrisDeFreitas777@gmail.com
  - top level application styles for GuitrJoe app
  
*/
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

.App {
  color:white; height:100vh; width:100vw;
  text-align:center;
  z-index:1;
}
.App-header {
  background-color: #282c34; 
  border-bottom:1px solid #ffffff30;
  /* min-height: 2vh;  */
  display: flex;
  padding:0 0 0 1em;
  font-size: 1.5em;
  /* flex-direction: column; */
  align-items: left;
  justify-content: left;
}
.header{ font-family:'Fuggles'; font-size:2.5em;  text-shadow:2px 2px 3px #000; position:relative; }
.Logo{ height:0.8em; position:relative; top:8px; left:-5px; }

.btnInfo{ background-color:#282c34; border:1px #eee solid; border-radius:5px; color:#fff; 
  height:2em; padding:0 1em; position:absolute; top:15px; right:15em; 
}

