/*
  Fretboard.css
  - by Chris DeFreitas, ChrisDeFreitas777@gmail.com
  - styles for Fretboard and QueryPnl
  
*/

.fretboard{ display:inline-block;  margin:0 auto 0 auto; position:relative; }
.fretboard[id="Fretboard0"]{ margin:1em auto 0 auto;}

.queryPnl{ color:#ffffffd0; border:none; outline:none; padding:0;
  position:relative; margin:0 auto; text-align:center; top:-0.25em;
}

.tbQuery{ 
  border:0; border-collapse:separate; border-spacing:0px; table-layout:fixed;
  padding:0; margin:0 auto; position:relative; width:auto; max-width:70%;
}
.tbQuery tr td{ vertical-align:top; }
.tdQryContent{ padding:0; width:70%; } 


.queryControls{ 
  background-color:hsl(177deg 68% 31% / 92%); 
  border:1px solid #333;  border-radius:5px; box-shadow:5px 5px 15px 1px #0000007a;
  display:block; height:3.5em; margin:0; overflow:hidden; padding:0; width:100%; 
  position:relative; 
}
/* .queryPnlHide .queryControls, */
.queryControls[data-roottype='fretSelect']{ display:none; }

.dataPnl { border:none; display:inline-block; padding:0 0.5em 0.5em 0.5em; text-align:center;  }
.dataPnl label{ color:#ffffffd0; font-weight:bold; font-size:1em; text-shadow:1px 1px 5px #00000090; }
.dataPnl label[data-selected="true"]{ cursor:pointer; }
.dataPnl select{ background-color:#ffffffa0; border:none; border-radius:3px; color:#444; cursor:pointer;
  display:block; margin:0 auto; padding:5px 0;
  min-width:5em;  max-width:10em; 
  outline:0;  text-align-last:center;
}
/*.dataPnl select option{}   not applicable because controlled by OS */
.dataPnl select[data-state="interval"]{ background-color:#ffff9b; }
.dataPnl select[data-state="chord"]{ background-color:#eab555; }

.tdQryBtnsLeft{ padding:0.5em 0.25em 0 0; text-align:right; width:8em; } 
.tdQryBtnsRight{ padding:0.5em 0 0 0.5em; text-align:left; width:16em; } 
/* .queryPnlHide .tdQryBtnsLeft, 
.queryPnlHide .tdQryBtnsRight{ padding-top:0; }
*/
.qryBtn{ background-color:hsl(177deg 68% 31% / 92%); border-radius:5px; 
  box-shadow: 5px 5px 15px 1px #0000007a; color:#000; cursor:pointer; 
  display:inline-block; margin:0 0.25em;
  font-weight:normal; text-shadow:1px 1px 1px #fff6; text-align:center;
  font-size:1.25em; padding:2px 5px; width:1em;
 }
/* .qryBtnHelp{  } */
.qryBtnSmall{
  background-color:hsl(177deg 68% 31% / 92%); border-radius:5px; 
  box-shadow: 5px 5px 15px 1px #0000007a; color:#000; cursor:pointer; 
  display:inline-block; margin:0 0.25em; 
  font-weight:normal; text-shadow:1px 1px 1px #fff6; text-align:center;
  font-size:1em; padding:3px 6px;
}


.infoPnl{ background:#00000045; border-radius:5px; margin:0 auto; width:98%; } 
.queryPnlShow .infoPnl{ display:block; margin:0 auto; }
/* .queryPnlHide .infoPnl{ display:inline-block; } */
.infoDiv{ display:inline-block;
   padding:0; margin:0 auto; text-shadow:1px 1px 3px #000; width:100%; 
 }
.infoDiv .propName{ color:white; cursor:pointer; font-weight:bold; margin:0 0 0 0.5em; }
.infoDiv .lineBreak{ line-height:5%; }
.infoDiv .propName:first-child{ margin:0; }
.infoDiv .propName[data-selected="note"]{ display:block; font-size:0.8em; font-weight:normal; font-style:italic; }
.infoDiv .ivl{ border-radius:3px; cursor:pointer; font-weight:normal; }
.infoDiv .ivl:hover{ background:#7f77;  }
.infoDiv .ivl[data-selected="noteFilter"] { background:#aaf; border-radius:3px; }  /* note in props.noteFilter */
.infoDiv .ivl[data-selected="fretSelectMatch"] { background:#b1e6ff7a; border-radius:3px; }  /* user selected matching chord or scale */
.infoDiv .ivl[data-selected="invr"]{ background-color:#e7e; }  
.infoDiv .ivl[data-selected="triad"]{ background-color:#0cc; }  
.infoDiv .ivl[data-selected="chordShape"]{ background-color:#f1601e; }  
.infoDiv .ivl sub{ font-size:0.6em; position:relative; left:-3px; top:-3px; }

