/*
  Fretboard.css
  - by Chris DeFreitas, ChrisDeFreitas777@gmail.com
  - styles for Fretboard and QueryPnl
  
*/

.fretboard{ display:inline-block;  margin:0 auto 0 auto; position:relative; }
.fretboard[id="Fretboard0"]{ margin:1em auto 0 auto;}

.queryPnl{ color:#ffffffd0; border:none; outline:none; padding:0;
  position:relative; margin:0 auto; text-align:center; top:-0.25em;
}

.tbQuery{ 
  border:0; border-collapse:separate; border-spacing:0px; table-layout:fixed;
  padding:0; margin:0 auto; position:relative; width:auto; max-width:70%;
}
.tbQuery tr td{ vertical-align:top; }
.tdQryContent{ padding:0; width:70%; } 


.queryBar{ 
  background-color:hsl(177deg 68% 31% / 92%); 
  /* border:1px solid #333;   */
  border:none;
  border-radius:5px; box-shadow:5px 5px 15px 1px #0000007a;
  display:block; height:3.5em; margin:0; overflow:hidden; padding:0; width:100%; 
  position:relative; 
}
/* .queryPnlHide .queryBar, */
.queryBar[data-roottype='fretSelect']{ display:none; }

.dataPnl { border:none; display:inline-block; padding:0 0.5em 0.5em 0.5em; text-align:center;  }
.dataPnl label{ color:#ffffffd0; font-weight:bold; font-size:1em; text-shadow:1px 1px 5px #00000090; }
.dataPnl label[data-loaded="true"]{ cursor:pointer; }
.dataPnl select{ background-color:#ffffffa0; border:none; border-radius:3px; color:#444; cursor:pointer;
  display:block; margin:0 auto; padding:5px 0;
  min-width:5em;  max-width:10em; 
  outline:0;  text-align-last:center;
}
/*.dataPnl select option{}   not applicable because controlled by OS */
.dataPnl select[data-state="interval"]{ background-color:#ffff9b; }
.dataPnl select[data-state="chord"]{ background-color:#eab555; }

.tdQryBtnsLeft{ padding:0.5em 0.25em 0 0; text-align:right; width:8em; } 
.tdQryBtnsRight{ padding:0.5em 0 0 0.5em; text-align:left; width:16em; } 
/* .queryPnlHide .tdQryBtnsLeft, 
.queryPnlHide .tdQryBtnsRight{ padding-top:0; }
*/
.qryBtn{ background-color:hsl(177deg 68% 31% / 92%); border-radius:5px; 
  box-shadow: 5px 5px 15px 1px #0000007a; color:#000; cursor:pointer; 
  display:inline-block; margin:0 0.25em;
  font-weight:normal; text-shadow:1px 1px 1px #fff6; text-align:center;
  font-size:1.25em; padding:2px 5px; width:1em;
 }
/* .qryBtnHelp{  } */
.qryBtnSmall{
  background-color:hsl(177deg 68% 31% / 92%); border-radius:5px; 
  box-shadow: 5px 5px 15px 1px #0000007a; color:#000; cursor:pointer; 
  display:inline-block; margin:0 0.25em; 
  font-weight:normal; text-shadow:1px 1px 1px #fff6; text-align:center;
  font-size:1em; padding:3px 6px;
}



