/*
  FretButton.css
  - by Chris DeFreitas, ChrisDeFreitas777@gmail.com
  - styles for buttons displayed by FretPnl.js
  
*/

.fretButton{ 
  color:#000; border:none; border-radius:5px;  box-shadow:1px 1px 5px #0007;
  text-align:left; margin:0; padding-left:10px;
  position:absolute; top:5px; left:15px; height:2em; width:4.5em;
  z-index:100;
}
.fretButton{ background:linear-gradient(180deg, #fff,#eec 50%,hsl(60deg 5% 36%) 100%); }

/* position over string */
.fret0 .fretButton { left:39px; }
.strg2 .fretButton,
.strg3 .fretButton,
.strg4 .fretButton{ top:calc( 1em + 6px) }
.strg5 .fretButton,
.strg6 .fretButton{ top:calc( 1em + 7px) }

/* appearance of interval captions */
.fretButton[data-ivl="P1"] sup{ color: #fff; text-shadow:1px 1px 1px #441616; }
.fretButton[data-ivl="m3"] .supInterval,
.fretButton[data-ivl="M3"] .supInterval{ color: #fff; text-shadow:1px 1px 1px #000; }
.fretButton[data-ivl="P5"] .supInterval{ color: #fff; text-shadow:1px 1px 1px #000; }
.fretButton[data-ivl="m7"] .supInterval,
.fretButton[data-ivl="M7"] .supInterval{ color: #fff; text-shadow:1px 1px 1px #000;  }

.fretButton[data-state="fretRoot"] { border: 1px #04ff00 solid; } /* green */
.fretButton[data-state="selNote"] { border: 1px #fffb00 solid;  } /* yellow */
.fretButton[data-state="fretSelect"] { border: 1px #00afff solid;  }  /* azure radiance */
.fretButton[data-state="fretSelectMatch"] { background:#b1e6ff; }  /* Anakiwa */
.fretButton[data-state="fretSelectMatch1"] { background:#41c1ed; }  /* root note */
.fretButton[data-state="noteFilter"] { background:#aaf; }  /* Melrose */
.fretButton[data-state="interval"] { background:#ffff9b; }  /*  pale yellow */
.fretButton[data-state="chord"] { background:#ffc06f; }  /*  pale orange */
.fretButton[data-state="chord1"] { background:#f90; }  /*  pale orange */
.fretButton[data-state="invr"] { background:#e7e; }
.fretButton[data-state="invr1"] { background:#e2e; }
.fretButton[data-state="degree"] { background:#00e0e0; }
.fretButton[data-state="degree1"] { background:#00a8a8; }

/* .fretButton[data-selected="0"] {} */
.fretButton[data-selected="1"] { background:#3ac664; }  /* emerald */

/* format button text/caption */
.fretButton sup{ color:#0f000fa0; font-size:0.7em; position:absolute; top:0px; text-shadow:none;  }
.fretButton sub{ color:#00000050; text-shadow:none; position:relative; }
.fretButton .subInterval{ cursor:alias; top:0px; right:-12px; }
.fretButton .abc{ cursor:alias; top:-15px; right:-25px; display:block; max-width:20px; }
.fretButton .ivlabc{ cursor:alias; top:-12px; right:-25px; display:block; max-width:20px; }
.fretButton .tab{ cursor:alias; top:-1px; right:-12px; }
.fretButton .spanNote .subOctave{ color:#0008; font-size:0.6em; }
.fretButton .spanIvl span{ color:#0007; font-size:0.7em; }
.fretButton .subNote{ cursor:alias; top:0px; right:-12px; }

/* all safari browsers
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
*/

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .fretButton .spanNote { display:block; position:relative; left:-5px; top:0px; }
  .btnFlatNote{ letter-spacing:-4px; position:relative; top:-2px; }
  .fretButton .subInterval{ cursor:alias; top:-15px; right:-20px; }
  .fretButton .abc{ cursor:alias; top:-16px; right:-15px; display:block; max-width:15px; }
  .fretButton .ivlabc{ cursor:alias; top:-14px; right:-15px; display:block; max-width:15px; }
  .fretButton .ivltab{ cursor:alias; top:0px; right:-5px; }
  .fretButton .notetab{ cursor:alias; top:-15px; right:-20px; }

}}
