/*
    NoteButton.sass
        by Chris DeFreitas, ChrisDeFreitas777@gmail.com
        styles for buttons displayed by NoteButton.jsx
*/
@use 'sass:color';

// position button over strings
.fret0 .noteButton { left:39px; }
.strg2 .noteButton,
.strg3 .noteButton,
.strg4 .noteButton{ top:calc( 1em + 7px) }
.strg5 .noteButton,
.strg6 .noteButton{ top:calc( 1em + 8px) }

// format for scales, chords etc
.noteButton { 
    
  background:linear-gradient(180deg, #fff,#eec 50%,hsl(60deg 5% 36%) 100%);
  color:#000; border:none; border-radius:5px;  box-shadow:1px 1px 5px #0007;
  text-align:left; margin:0; padding-left:10px;
  position:absolute; top:5px; left:15px; height:2em; width:4.5em;
  overflow:hidden; z-index:100;
  
  &.AllNotes{ border:none; }
  &.fretRoot.moderoot{ border: 1px #04ff00 solid; } /* green */
  &.noteSelect.root{ border: 1px #fffb00 solid;  } /* yellow */
  &.fretSelect.root{ border: 1px #00afff solid;  }  /* azure radiance */

  //fretSelect mode
  $bgColor: #b1e6ff;
  // &.fretSelect{ background:$bgColor; }   not used
  // &.fretSelect.root{ background:color.scale( $bgColor, $lightness: -15% ); } 
  &.fretSelectMatch{ background:$bgColor; } 
  &.fretSelectMatch.root{ background:color.scale( $bgColor, $lightness: -15% ); } 

  
  // fretRoot and noteSelect style classes ordered within NoteButton.jsx:
  &.noteFilter{ background:#aaf; }  // Melrose

  //intervals
  $bgColor: #ffff9b;  //pale yellow
  &.interval{ background:$bgColor; } 
  // &.interval.root{ background:color.scale( $bgColor, $lightness: -30% ); } 

  //chords
  $bgColor: #e7e;  // 
  &.invr{ background:$bgColor; } 
  &.invrRoot{ background:color.scale( $bgColor, $lightness: -30% ); } 

  $bgColor: #f1601e;  //   
  &.chordShape{ background:$bgColor; } 
  &.chordShape.root{ background:color.scale( $bgColor, $lightness: -30% ); } 
  
  $bgColor: #ffc06f;     //pale orange
  &.chord{ background:$bgColor; } 
  &.chord.root{ background:color.scale( $bgColor, $lightness: -20% ); } 

  //scales
  $bgColor: #00e0e0;  //   
  &.triad{ background:$bgColor; } 
  &.triadRoot{ background:color.scale( $bgColor, $lightness: -20% ); } 

  //apply to all modes
  $bgColor: #3ac664;  //   
  &.selected{ background:$bgColor; }  // emerald 
  &.root.selected{ background:color.scale( $bgColor, $lightness: -20% ); }

  &.filtered,
  &.root.filtered{ opacity: 0.08; }

}

// format captions
.noteButton {
  // left side
  & .note,
  & .ivl   { position:absolute; top:0px; left:9px; }
  
  .note .octave,
  .ivl span{ color:#0006; font-size:0.6em; }

  // right side
  .interval,
  .subNote,
  .tab,
  .abc { color:#0004; cursor:help; position:absolute; 
    margin:0; padding:0; padding-top:6px;
    left:2.5em; top:0px; height:100%; width:3em;
  }
}

// for Safari 11+ 
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  
  // adjust right side captions
  .noteButton .interval,
  .noteButton .subNote,
  .noteButton .tab,
  .noteButton .abc{ color:#0006; cursor:help; position:absolute; margin:0; padding:0; 
    padding-top:3px; left:2.5em; top:0px; height:100%; width:3em;
  }
  .noteButton .abc{ padding-top:0px; }

  // iOS only so ignore (not iPadOS:
  // fix extra space in front of flat symbol
  //.noteButton .flatNote{ letter-spacing:-3px; position:relative; top:-2px; }
}}