/*
  NoteButton.css
  - by Chris DeFreitas, ChrisDeFreitas777@gmail.com
  - styles for buttons displayed by FretPnl.js
  
*/

/* 
.noteButton{ 
  color:#000; border:none; border-radius:5px;  box-shadow:1px 1px 5px #0007;
  text-align:left; margin:0; padding-left:10px;
  position:absolute; top:5px; left:15px; height:2em; width:4.5em;
  overflow:hidden; z-index:100;
}
.noteButton{ background:linear-gradient(180deg, #fff,#eec 50%,hsl(60deg 5% 36%) 100%); }
*/

/* position over string *
.fret0 .noteButton { left:39px; }
.strg2 .noteButton,
.strg3 .noteButton,
.strg4 .noteButton{ top:calc( 1em + 7px) }
.strg5 .noteButton,
.strg6 .noteButton{ top:calc( 1em + 8px) }
*/
/* appearance of interval captions *
.noteButton[data-ivl="P1"] sup{ color: #fff; text-shadow:1px 1px 1px #441616; }
.noteButton[data-ivl="m3"] .supInterval,
.noteButton[data-ivl="M3"] .supInterval{ color: #fff; text-shadow:1px 1px 1px #000; }
.noteButton[data-ivl="P5"] .supInterval{ color: #fff; text-shadow:1px 1px 1px #000; }
.noteButton[data-ivl="m7"] .supInterval,
.noteButton[data-ivl="M7"] .supInterval{ color: #fff; text-shadow:1px 1px 1px #000;  }
*
.noteButton[data-state="fretRoot"]{ border: 1px #04ff00 solid; } * green *
.noteButton[data-state="noteSelect"]{ border: 1px #fffb00 solid;  } * yellow *
.noteButton[data-state="fretSelect"]{ border: 1px #00afff solid;  }  * azure radiance *
*
.noteButton[data-state="fretSelectMatch"]{ background:#b1e6ff; }  /* Anakiwa *
.noteButton[data-state="fretSelectMatch1"]{ background:#41c1ed; }  /* root note *
.noteButton[data-state="noteFilter"]{ background:#aaf; }  * Melrose */
/*.noteButton[data-state="interval"]{ background:#ffff9b; }  /*  pale yellow */
/*.noteButton[data-state="chord"]{ background:#ffc06f; }  *  pale orange */
/*.noteButton[data-state="chord0"]{ background:#f90; border: 1px #04ff00 solid; }  *  pale orange, fret root */
/*.noteButton[data-state="chord1"]{ background:#f90; }  *  pale orange */
/*.noteButton[data-state="chordShape"]{ background:#f1601e; }
.noteButton[data-state="chordShape0"]{ background:#b04a1b; border: 1px #04ff00 solid; }
.noteButton[data-state="chordShape1"]{ background:#b04a1b;  } */
/*.noteButton[data-state="invr"]{ background:#e7e; }
.noteButton[data-state="invr1"]{ background:#e2e; } */
/*.noteButton[data-state="triad"]{ background:#00e0e0; }
.noteButton[data-state="triad1"]{ background:#00a8a8; }
*/
/* .noteButton[data-selected="0"] {} *
.noteButton[data-selected="1"] { background:#3ac664; }  * emerald */

/* format button text/caption *
.noteButton sup{ color:#0f000fa0; font-size:0.7em; position:absolute; top:0px; text-shadow:none;  }
.noteButton sub{ color:#00000050; text-shadow:none; position:relative; }
.noteButton .subInterval{ cursor:alias; top:0px; right:-12px; }
.noteButton .abc{ cursor:alias; top:-15px; right:-25px; display:block; max-width:20px; }
.noteButton .ivlabc{ cursor:alias; top:-12px; right:-25px; display:block; max-width:20px; }
.noteButton .tab{ cursor:alias; top:-1px; right:-12px; }
.noteButton .spanNote .subOctave{ color:#0008; font-size:0.6em; }
.noteButton .spanIvl span{ color:#0007; font-size:0.7em; }
.noteButton .subNote{ cursor:alias; top:0px; right:-12px; }

* all safari browsers
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
*/

/* Safari 11+ *
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  
  /* adjust button captions *
  .noteButton .spanNote { display:block; position:relative; left:-5px; top:0px; }
  .btnFlatNote{ letter-spacing:-4px; position:relative; top:-2px; }
  .noteButton .subInterval{ cursor:alias; top:-15px; right:-20px; }
  .noteButton .abc{ cursor:alias; top:-16px; right:-15px; display:block; max-width:15px; }
  .noteButton .ivlabc{ cursor:alias; top:-14px; right:-15px; display:block; max-width:15px; }
  .noteButton .ivltab{ cursor:alias; top:0px; right:-5px; }
  .noteButton .notetab{ cursor:alias; top:-15px; right:-20px; }

  /* position noteButton over string *
  .strg1 .noteButton{ top:calc( 6px) }
  .strg2 .noteButton{ top:calc( 1em + 11px) }
  .strg3 .noteButton,
  .strg4 .noteButton{ top:calc( 1em + 12.5px) }
  .strg5 .noteButton,
  .strg6 .noteButton{ top:calc( 1em + 12px) }
}}
*/